name: "Repo Labeling"

on:
  issues:
    types: [opened, edited, reopened]

jobs:
  repo_labeling:
    if: contains(github.events.issue.labels.*.name, 'label-repos')
    runs-on: [ubuntu-latest]
    steps:
      - name: Debug Labels
        shell: bash
        run: |
          echo "Labels: ${{ toJson(github.event.issue.body) }}"
    
